<h1>Dashboard</h1>
<div class="ui grid">
  <div class="ui stackable three column row">
    <div class="column">
      <div class="card">
        <div class="card-header notification">
          <i class="mail outline icon"></i>
        </div>
        <div class="card-content">
          <p class="card-label">
            Notification
          </p>
          <div>
            <h3>0</h3>
          </div>
        </div>
        <div class="card-footer">
          <a>View</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header user">
          <i class="user icon"></i>
        </div>
        <div class="card-content">
          <p class="card-label">
            Placeholder
          </p>
          <div>
            <h3>Placeholder</h3>
          </div>
        </div>
        <div class="card-footer">
          <p class="time-from-now"><a href="">Contact</a></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header event">
          <i class="users icon"></i>
        </div>
        <div class="card-content">
          <p class="card-label">
            Ongoing Events
          </p>
          <div>
            <h3>Coming Soon</h3>
          </div>
        </div>
        <div class="card-footer">
          <p class="time-from-now"><a href="">View</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui stackable one column row">
    <div class="column">
      <div class="card">
        <div class="card-header notification">
          <i class="mail outline icon"></i>
        </div>
        <div class="card-content">
          <p class="card-label">
            Spotlight
          </p>
          <div>
            <h3>0</h3>
          </div>
        </div>
        <div class="card-footer">
          <a>View</a>
        </div>
      </div>
    </div>
  </div>
</div>
